/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #FFF;
  font-family: Open Sans, sans-serif;
  font-size: small;
  text-align: center;
}

main {
  text-align: left;
  font-size: calc( 42px + (24 - 16) * (100vw - 400px) / (800 - 400) );
  margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-family: Lora, serif;
}

p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

h1 {
  font-size: 1em;
  color: #333;
  font-weight: 400;
  margin-left: -0.05em;
}

h2 {
  text-transform: uppercase;
  font-size: 0.235em;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
}

.links {
  display: flex;
  margin-top: 0.15em;
}

.links img {
  max-width: 18px;
  opacity: 0.8;
  transition: opacity 0.15s ease;
}

.links img:hover {
  opacity: 1;
}

.links img + img {
  margin-left: 0.1em;
}

.links a {
  font-size: initial;
}
